body {
  background-color: aqua;
}

.script-box {
  height: 75%;
  width: 34%;
  position: fixed;
  top: 15%;
  left: 25%;
  background-color: rgb(212, 202, 202);
  border-radius: 10%;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }