body {
  box-sizing: border-box;
}

/*.script-box {
  height: 75%;
  width: 34%;
  position: fixed;
  top: 15%;
  left: 25%;
  background-color: rgb(212, 202, 202);
  border-radius: 10%;
  }*/

  .script-box { 
    display: inline-block;
    position: relative;
    width: 34.3%;
    height: 700px;
    left: 7%;
    background: rgb(193, 189, 189);
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 70%), 0 4px 20px 0 rgb(0 0 0 / 80%);
    transition: left .48s;
    opacity: 0.5;
    overflow-y: auto;
    border-radius: 2%;
  }

  .box_title  {
    text-align: center;
    position: relative;
  }

  .sb_inside_box  {
    width: 82%;
    /*height: 85px;*/
    min-height: 85px;
    max-height: 85px;
    margin-inline: 9%;
    margin-block: 3%;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 80%), 0 4px 20px 0 rgb(0 0 0 / 80%);
    transition: max-height .8s ease-out;
    border-radius: 5px;
    overflow: hidden;
    
  }

  .log-box {
    display: inline-block;
    position: relative;
    width: 34.3%;
    height: 700px;
    left: 11%;
    background: rgb(193, 189, 189);
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 70%), 0 4px 20px 0 rgb(0 0 0 / 80%);
    transition: left .48s;
    opacity: 0.5;
    overflow-y: auto;
    border-radius: 2%;
  }

  .my_footer  {
    display: block;
    position: relative;
    width: 100%;
    top: 100%;
    background-color: #333;
    color: white;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  /*label {*/
  /*  top: 0%!important;*/
  /*  background-color: white;*/
  /*  width: fit-content;*/
  /*  padding-top: 0%!important;*/
  /*}*/
  
  /*input {*/
  /*  /*border: none!important;*/
  /*  outline: none!important;*/*/
  /*  border-bottom:1px solid gray!important;*/
  /*  transition: .1s!important;*/
  /*  width: 100%;*/
  /*}*/

  /*input:focus {*/
  /*  outline: 0!important;*/
  /*  border-bottom:2px solid #607d8b!important;*/
  /*  transition: .1s!important;*/
  /*}*/

  .modal-open{
    padding-right: 0!important;
    overflow: auto!important;
  }
  .modal-open .modal{
    padding-right: 220px!important;
    padding-top: 18px;
  }

  .run_button {
    position: relative;
    display: block!important;
    background-color: gray!important;
    color: aquamarine!important;
    width: 14%!important;
    height: 60px!important;
    left: 36.4%;
    font-size: 100%!important;
    font-weight: bolder!important;
    transition: left .48s!important;
    border-radius: 50px!important;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 30%), 0 4px 20px 0 rgb(0 0 0 / 60%)!important;
  }

  .slide_animation  {
    -moz-animation: slide .8s ease .0s forwards;
    -webkit-animation: slide .8s ease .1s forwards;
    -o-animation: slide .8s ease .1s forwards;
    -ms-animation: slide .8s ease .1s forwards;
     animation: slide .8s ease .1s forwards;
     animation-fill-mode: both;
     /*overflow: hidden;*/
  }

  .fade-in-text {
    display: block;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-size: 100%;*/
    /*color: black;*/
    animation: fadeIn linear .8s;
    -webkit-animation: fadeIn linear .8s;
    -moz-animation: fadeIn linear .8s;
    -o-animation: fadeIn linear .8s;
    -ms-animation: fadeIn linear .8s;
  }

  .minHeight_animation  {
    -moz-animation: minHeight .8s ease-out;
    -webkit-animation: minHeight .8s ease-out;
    -o-animation: minHeight .8s ease-out;
    -ms-animation: minHeight .8s ease-out;
    animation: minHeight .8s ease-out;
    transition: min-height .8s ease-out;
  }

  /*Slide Animation*/
  @-moz-keyframes slide /* Firefox */
  {
  from {width: 0%;margin-inline: 0%;}
  to {width: 82%;margin-inline: 9%;}
  }
  
  @-webkit-keyframes slide /* Safari and Chrome */
  {
    from {width: 0%;margin-inline: 0%;}
    to {width: 82%;margin-inline: 9%;}
  }
  
  @-o-keyframes slide /* Opera */
  {
    from {width: 0%;margin-inline: 0%;}
    to {width: 82%;margin-inline: 9%;}
  }
  
  @-ms-keyframes slide /* IE10 */
  {
    from {width: 0%;margin-inline: 0%;}
    to {width: 82%;margin-inline: 9%;}
  }
  
  @keyframes slide
  {
    from {width: 0%;margin-inline: 0%;}
    to {width: 82%;margin-inline: 9%;}
  }

  /*FadeIn Animation*/

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

    /*Min-Height Animation*/

    @keyframes minHeight {
      from {min-height:85px;}
      to {min-height:auto;}
    }
    
    @-moz-keyframes minHeight {
      from {min-height:85px;}
      to {min-height:auto;}
    }
    
    @-webkit-keyframes minHeight {
      from {min-height:85px;}
      to {min-height:auto;}
    }
    
    @-o-keyframes minHeight {
      from {min-height:85px;}
      to {min-height:auto;}
    }
    
    @-ms-keyframes minHeight {
      from {min-height:85px;}
      to {min-height:auto;}
    }