body {
  box-sizing: border-box;
}

/*.script-box {
  height: 75%;
  width: 34%;
  position: fixed;
  top: 15%;
  left: 25%;
  background-color: rgb(212, 202, 202);
  border-radius: 10%;
  }*/

  .script-box { 
    display: inline-block;
    position: relative;
    width: 34.3%;
    min-height: 660px;
    left: 7%;
    background: rgb(193, 189, 189);
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    transition: left .48s;
    opacity: 0.5;
  }

  .box_title  {
    text-align: center;
    position: relative;
  }

  .sb_inside_box  {
    width: 82%;
    height: 85px;
    margin-inline: 9%;
    margin-block: 3%;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 80%), 0 4px 20px 0 rgb(0 0 0 / 80%);
    transition: .48s;
  }


  .slide_animation  {
    -moz-animation: slide 1s ease .0s forwards;
    -webkit-animation: slide 1s ease .1s forwards;
    -o-animation: slide 1s ease .1s forwards;
    -ms-animation: slide 1s ease .1s forwards;
     animation: slide 1s ease .1s forwards;
     animation-fill-mode: both;
     /*overflow: hidden;*/
  }

  .log-box {
    display: inline-block;
    position: relative;
    width: 34.3%;
    min-height: 660px;
    left: 11%;
    background: rgb(193, 189, 189);
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    transition: left .48s;
    opacity: 0.5;
  }

  .log-gray-box {
    /*width: fit-content;*/
    padding: 50% 50%; /*330px 330px */
    background: rgb(193, 189, 189);
    position: absolute;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
    transition: left .48s;
    opacity: 0.5;
    /*width: 32%;*/
    /*height: 70%;*/
    /*left: 47%;*/
    /*top: 16%;*/
    /*bottom: 321px;*/
  }
  
  .my_footer  {
    display: block;
    position: relative;
    width: 100%;
    top: 100%;
    background-color: #333;
    color: white;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  label {
    top: 0%!important;
    background-color: white;
    width: fit-content;
    padding-top: 0%!important;
  }
  
  input {
    border: none!important;
    outline: none!important;
    border-bottom:1px solid gray!important;
    transition: .1s!important;
    width: 100%;
  }

  input:focus {
    outline: 0!important;
    border-bottom:2px solid #607d8b!important;
    transition: .1s!important;
  }

  .modal-open{
    padding-right: 0!important;
    overflow: auto!important;
  }
  .modal-open .modal{
    padding-right: 220px!important;
    padding-top: 18px;
  }

  @-moz-keyframes slide /* Firefox */
  {
  from {width: 0%;margin-inline: 0%;}
  to {width: 82%;margin-inline: 9%;}
  }
  
  @-webkit-keyframes slide /* Safari and Chrome */
  {
    from {width: 0%;margin-inline: 0%;}
    to {width: 82%;margin-inline: 9%;}
  }
  
  @-o-keyframes slide /* Opera */
  {
    from {width: 0%;margin-inline: 0%;}
    to {width: 82%;margin-inline: 9%;}
  }
  
  @-ms-keyframes slide /* IE10 */
  {
    from {width: 0%;margin-inline: 0%;}
    to {width: 82%;margin-inline: 9%;}
  }
  
  @keyframes slide
  {
    from {width: 0%;margin-inline: 0%;}
    to {width: 82%;margin-inline: 9%;}
  }