body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}

.sidenav .topsidenav {
  background-color: #607d8b;
  width: 100%;
  left: 0%;
  top: 0%;
  bottom: 88%;
  position: absolute;
}

.sidenav a {
  padding: 25px 20px 20px 32px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 6%;
  right: 0%;
  font-size: 36px;
  text-decoration: none!important;
} 

.sidenav hr {
  width: 100%;
  position: absolute;
  left: 0%;
  top: 81%;
}

.topNavbar {
  background-color: #333;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1;
}

.topNavbar a {
  float: left;
  display: block;
  color: #818181;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
  font-weight: bold;
}

.topNavbar a:hover {
  color: white;
}

.rightsidenav {
  height: 100%;
  width: 15%;
  right: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 6%;
  transition: 0.5s;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
}

.rightsidenav a button{
  /*padding: 10px 10px 10px 10px!important;
  text-decoration: none;
  font-size: 25px!important;
  color: #818181!important;
  display: inline-block;
  border: none;
  background: none;
  width:82%;
  text-align: center!important;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s  ease-in-out;
  -o-transition: all .5s  ease-in-out;
  transition: all .5s  ease-in-out;*/
  color: #818181!important;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s  ease-in-out;
  -o-transition: all .5s  ease-in-out;
  transition: all .5s  ease-in-out;
}

.dropdown-btn {
  padding: 10px 10px 10px 10px!important;
  text-decoration: none;
  font-size: 25px!important;
  color: #818181!important;
  display: inline-block;
  border: none;
  background: none;
  width:100%;
  text-align: center!important;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s  ease-in-out;
  -o-transition: all .5s  ease-in-out;
  transition: all .5s  ease-in-out;
}

.rightsidenav a:hover button:hover, .dropdown-btn:hover {
  color: #f1f1f1!important;
}

.rightsidenav .righttopsidenav {
  background-color: #607d8b;
  width: 100%;
  right: 0%;
  top: 0%;
  bottom: 88%;
  position: absolute;
}

/* Main content */
.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.dropdown-btn.active {
  background-color:gray!important;
  color: white!important;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding: 8px 8px 8px 16px!important;
}

/* Optional: Style the caret down icon */
.fa-caret-up {
  /*float: right;*/
  /*top: 13.5%;*/
  position: relative;
  display: inline-block;
  right: -13%;
  transition: all 0.5s ease!important;
}
.fa-caret-down {
  /*float: right;*/
  /*top: 13.5%;*/
  position: relative;
  display: inline-block;
  right: -13%;
  transition: all 0.5s ease!important;
}

.rtoate180 {
 /* -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);*/
  transition: all .4s ease;
  transform: rotate(179deg)!important;
}

.rtoate-180 {
  transform: rotate(-179deg)!important;
}

#main {
  transition: margin-right .5s;
  padding: 1%;
}

#arrow { 
  font-size:40px;
  cursor:pointer;
  border: none;
  padding: 8px 16px;
  background-color: #607d8b;
  z-index: 0;
  left: 95%;
  margin-top: 0.05%;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s  ease-in-out;
  -o-transition: all .7s  ease-in-out;
  transition: all .7s  ease-in-out;
}

#arrow .fa-angle-double-right{
  transition: all 0.5s ease;  
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-height: 450px) {
  .rightsidenav {padding-top: 15px;}
  .rightsidenav a {font-size: 18px;}
}



