.w3-theme-teal-l5 {color:#000 !important; background-color:#e9fffd !important}
.w3-theme-teal-l4 {color:#000 !important; background-color:#b7fff8 !important}
.w3-theme-teal-l3 {color:#000 !important; background-color:#6efff1 !important}
.w3-theme-teal-l2 {color:#000 !important; background-color:#26ffe9 !important}
.w3-theme-teal-l1 {color:#fff !important; background-color:#00dcc6 !important}
.w3-theme-teal-d1 {color:#fff !important; background-color:#008578 !important}
.w3-theme-teal-d2 {color:#fff !important; background-color:#00766a !important}
.w3-theme-teal-d3 {color:#fff !important; background-color:#00685d !important}
.w3-theme-teal-d4 {color:#fff !important; background-color:#005950 !important}
.w3-theme-teal-d5 {color:#fff !important; background-color:#004a43 !important}

.w3-theme-teal-light {color:#000 !important; background-color:#e9fffd !important}
.w3-theme-teal-dark {color:#fff !important; background-color:#004a43 !important}
.w3-theme-teal-action {color:#fff !important; background-color:#004a43 !important}

.w3-theme-teal {color:#fff !important; background-color:#009688 !important}
.w3-text-theme-teal {color:#009688 !important}
.w3-border-theme-teal {border-color:#009688 !important}

.w3-hover-theme-teal:hover {color:#fff !important; background-color:#009688 !important}
.w3-hover-text-theme-teal:hover {color:#009688 !important}
.w3-hover-border-theme-teal:hover {border-color:#009688 !important}
